header {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
}

.loginContainer {
  margin: 0;
  margin-top: 80px;
  padding: 0;
}

.conteiner {
  display: flex;
  width: 1000px;
  justify-content: center;

}

.titulo h1 {
  color: #FFBB00;
}

.titulo {
  position: relative;
}

.fundo-form-g {
  width: 40%;
  padding: 30px;
  height: 238px;
  border-radius: 5px;
  background-color: #FFFFFF;

}

.form-c-l {
  display: flex;
  flex-direction: column;
  align-items: stretch;

}

.form-c-l label {
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 5px;
}

.form-c-l input[type=text],
input[type=email],
input[type=password] {
  padding: 8px;
  width: 100%;
  background-color: #f7f7f7;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-sizing: border-box;
}

.termos {
  display: flex;
  align-items: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}